name: Type Check & Lint

on:
  workflow_call:

jobs:
  typecheck-and-lint:
    name: Type Check & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Type check
        run: pnpm run type:check

      - name: Lint
        run: pnpm run lint
